extends ../base.jade

block content
  h3 Notes

  each note in notes
    .media(style="background-color:#eee;padding:10px;font-weight:bold;margin-top:2px;")
      a(href="/notes/#{note.id}", style="color:#333;")
        .media-body
          div= note.title

  if !notes.length
    p No notes found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href="?pageToken=#{encodeURIComponent(nextPageToken)}") More
