extends ../base.jade

block content
  div(style="font-size:20px;margin-bottom:10px;") Notes

  each note in notes
    a(href="/notes/#{note.id}", style="color:#333;")
      .media(style="background-color:#eee;padding:10px;margin-top:2px;")
        .media-body
          div= note.title

  if !notes.length
    p No notes found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href="?pageToken=#{encodeURIComponent(nextPageToken)}") More
